@charset "UTF-8";

body{
  background-color: #000000;
}
.container{
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  grid-template-rows: 50px 100px auto;
  

}
header{
  font-family: 'Major Mono Display', monospace;
  color: #7F0500;
  font-size: 4em;
  grid-area: 4 / 2 / 3 / 2
}


.dos{
  width: 700px;
  height: 700px;
  grid-area: 3 / 3 / 4 / 3
}


@-ms-viewport{
    width: device-width;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body{
    background-color: #000000;
  }
  .container{
    display: grid;
    grid-template-columns: 100px auto auto 100px;
    grid-template-rows: 50px 100px auto auto;
    
  
  }
  header{
    font-family: 'Major Mono Display', monospace;
    color: #7F0500;
    font-size: 2em;
    grid-area: 4 / 2 / 3 / 2
  }
  
  
  .dos{
    width: 600px;
    height: 600px;
    grid-area: 4 / 2 / 5 / 4
  }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

 
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

  
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    body{
      background-color: #000000;
    }
    .container{
      display: grid;
      grid-template-columns: 50px 300px 50px;
      grid-template-rows: 50px 100px auto auto;
      
    
    }
    header{
      font-family: 'Major Mono Display', monospace;
      color: #7F0500;
      font-size: 1em;
      grid-area: 4 / 2 / 3 / 2
    }
    
    
    .dos{
      width: 500px;
      height: 500px;
      grid-area: 4 / 1 / 4 / 3;
      align-self: center;
    }
  }
    
  
    
  